/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #90e0ef;
    color: #333;
}

header {
    background: #c0c0c0;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header .logo img {
    max-width: 450px;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.cart {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.cart a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.cart img {
    width: 24px;
    height: 24px;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;

    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.hero {
    background: #0fa3b1;
    color: #faa307;
    padding: 2rem 0;
    text-align: center;
}

.hero h1 {
    margin-bottom: 1rem;
}

.hero .btn {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.featured-products {
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
}

.featured-products h2 {
    margin-bottom: 1rem;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 90%;
    }
}